<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forecast Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
    <link rel="stylesheet" type="text/css" href="/css/ap-dropdown.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="/skycons-master/skycons.js"></script>
  </head>
  
  <header>
    <%- include ("./partials/header.ejs") %>
  </header>

  <body>
    <div class="container mx-auto my-4">

      <fieldset id='fieldForm'>
        <form action="/" method="post">
          <div id="input-styling-address">
            <input name="location" type="search" id="address" class="form-control" placeholder="Where are we going?" />
            <input name="latlng" type="hidden" id="addressCoords" />
          </div>
          <p class="mt-4 text-xl">Selected: <strong id="address-value">none</strong></p>
          
          <script>
            (function() {
              var placesAutocomplete = places({
                appId: 'plVVQ87U2ZPF',
                apiKey: 'c35ecc9ab5dac235dd492ef0710c5537',
                container: document.querySelector('#input-styling-address input'),
                //style: false,
            }).configure({
              type: 'city',
              language: 'en',
            });

            let $address = document.querySelector('#address-value');
            let $coords = document.querySelector('#addressCoords');
            placesAutocomplete.on('change', function(e) {
              $coords.value = e.suggestion.latlng.lat.toString() + ', ' + e.suggestion.latlng.lng.toString();
            });

            placesAutocomplete.on('clear', function() {
              $address.textContent = 'none';
            });
          })();
        </script>
        </form>
      </fieldset>
      
      <script>
        let skycons = new Skycons({"monochrome": false});
        skycons.add("navicon", "showers-day");
      </script>
         
      <% if (error !== null) { %>
        <p><%= error %></p>
      <% } %>

      <% if (weatherObject !== null) { %>
          <% let currently = weatherObject.shift(); %>
      <div class="weather-container font-sans w-full max-w-5xl rounded-lg bg-gray-700 overflow-hidden shadow-lg text-white mt-4">
        <div class="current-weather flex items-center justify-between px-6 py-4">
          <div class="flex items-center">
            <div>
              <div class="text-6xl font-semibold"><%= currently.temperature %></div>
              <div>Feels like <%= currently.apparentTemperature %></div>
            </div>
          </div>
          <div class="mx-5">
            <div class="font-semibold"><%= currently.summary %></div>
            <div>Current City</div>
          </div>
          <div>
            <canvas id="icon1" width="64" height="64"></canvas>
          </div>
        </div> <!-- End of current weather -->

        <div class="future-weather text-sm bg-gray-600 px-6 py-8 overflow-hidden">
          <% let index = 0; %>
          <% weatherObject.forEach((object) => { %>
            <div class="flex items-center">
              <div class="w-1/6 text-xl text-gray-200"><%= object.time %></div>
              <div class="w-4/6 px-4 text-base flex items-center justify-end">
                <div>
                  <canvas id="icon<%- index %>" width="36" length="36"></canvas>
                  <script>
                    skycons.add("icon<%- index %>", "<%- object.icon %>");
                  </script>
                </div>
                <div class="ml-3"><%= object.summary %></div>
              </div>
              <div class="w-1/6 text-base flex">
                <div class="text-blue-200 mx-3">Rain: <%= object.precipProbability %></div>
              </div>
              <div class="w-1/6 text-lg text-right">
                <div><%= object.temperature %></div>
                <div><%= object.apparentTemperature %></div>
              </div>
            </div>
            <% index++; %>
        <% })} %>  
        </div>
      </div>

      <script> skycons.play(); </script>

        <div class="px-6 py-4">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Dark Sky API</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Algolia place</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Google</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Geoencoding API</span>
        </div>
    </div>
  </body>

  <footer>
    <%- include ("./partials/footer.ejs") %>
  </footer>
</html>