<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forecast Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
    <link rel="stylesheet" type="text/css" href="/css/ap-dropdown.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="/skycons-master/skycons.js"></script>
  </head>
  
  <header>
    <%- include ("./partials/header.ejs") %>
  </header>

  <body>
    <div class="container mx-auto my-4">

      <fieldset id='fieldForm'>
        <form action="/" method="post">
          <div id="input-styling-address">
            <input name="location" type="search" id="address" class="form-control w-max-4xl" placeholder="Where are we going?" />
            <input name="latlng" type="hidden" id="addressCoords" />
            <input name="forecast" type="hidden" id="forecastFormat" />
          </div>
          <div class="flex justify-between">
            <p class="mt-4 text-xl">Selected: <strong id="address-value"><%= location %></strong></p>
            <div class="inline-flex mt-2">
              <button type="button" id="hours" class="bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                48-hrs
              </button>
              <button type="button" id="week" class="bg-blue-300 hover:bg-blue-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                Week
              </button>
            </div>
          </div>
          <script>
            (function() {
              var placesAutocomplete = places({
                appId: 'plVVQ87U2ZPF',
                apiKey: 'c35ecc9ab5dac235dd492ef0710c5537',
                container: document.querySelector('#input-styling-address input'),
                //style: false,
            }).configure({
              type: 'city',
              language: 'en',
            });

            const $address = document.querySelector('#address-value');
            const $coords = document.querySelector('#addressCoords');
            placesAutocomplete.on('change', function(e) {
              $coords.value = e.suggestion.latlng.lat.toString() + ',' + e.suggestion.latlng.lng.toString();
            });

            placesAutocomplete.on('clear', function() {
              $address.textContent = 'none';
            });

            const $forecast = document.querySelector('#forecastFormat');
            const buttons = document.querySelectorAll('button');
            buttons.forEach((btn) => {
              btn.addEventListener('click', (e) => {
              if (btn.id === 'week') {
                $forecast.value = 'weekly';
              } else {
                $forecast.value = 'daily';
              }
            })})

          })();
        </script>
        </form>
      </fieldset>
      
      <script>
        let skycons = new Skycons({"monochrome": false});
        skycons.add("navicon", "showers-day");
      </script>
         
      <% if (error !== null) { %>
        <p><%= error %></p>
      <% } %>

      <% if (weatherObject !== null) { %>
          <% let currently = weatherObject.shift(); %>
      <div class="weather-container font-sans w-full max-w-4xl rounded-lg bg-gray-700 overflow-hidden shadow-lg text-white mt-4 mx-auto">
        <div class="current-weather flex items-center justify-between px-6 py-4">
          <div class="flex items-center">
            <div>
              <% if (format !== "weekly") { %>
                <div class="text-6xl font-semibold"><%= currently.temperature %></div>
                <div>Feels like <%= currently.apparentTemperature %></div>
              <% } else { %>
                <div class="text-3xl font-semibold">High: <%= currently.temperatureMax %></div>
                <div class="text-3xl font-semibold">Low: <%= currently.temperatureMin %></div>
              <% } %>
            </div>
          </div>
          <div class="mx-5 text-xl">
            <div class="font-semibold"><%= currently.summary %></div>
            <div><%= location[0] %></div>
          </div>
          <div>
            <canvas id="currenticon" width="72" height="72"></canvas>
            <script> skycons.add("currenticon", "<%- currently.icon %>"); </script>
          </div>
        </div> <!-- End of current weather -->

        <div class="future-weather text-sm bg-gray-600 px-6 py-8 overflow-hidden">
          <% let index = 0; %>
          <% weatherObject.forEach((object) => { %>
            <div class="flex items-center justify-between px-2 h-32">
              <div class="w-1/6 text-xl text-gray-200"><%= object.time %></div>
              <div class="w-3/6 px-4 text-xl flex justify-end">
                <div class="h-auto w-auto p-2 flex items-start">
                  <canvas id="icon<%- index %>" width="64" length="64"></canvas>
                  <script> skycons.add("icon<%- index %>", "<%- object.icon %>"); </script>
                </div>
              </div>
              <div class="w-2/6 px-2 text-lg flex items-center justify-between">
                <div class="text-base"><%= object.summary %></div>
                <div class="text-blue-200 mx-3">Rain: <%= object.precipProbability %></div>
              </div>
              <div class="w-1/6 text-lg text-right">
                <% if (format !== "weekly") { %>
                  <div><%= object.temperature %></div>
                  <div>Feels like <%= object.apparentTemperature %></div>
                <% } else { %>
                  <div>High: <%= object.temperatureMax %></div>
                  <div>Low: <%= object.temperatureMin %></div>
                <% } %>
              </div>
            </div>
            <% index++; %>
        <% })} %>  
        </div>
      </div>

      <script> skycons.play(); </script>

        <div class="px-6 py-4">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Dark Sky API</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Algolia place</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Google</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Geoencoding API</span>
        </div>
    </div>
  </body>

  <footer>
    <%- include ("./partials/footer.ejs") %>
  </footer>
</html>